:root {
  --primary-color: #404040;
  --secondary-color: #ebe4df;
}

@font-face {
  font-family: apercuRegular;
  src: url(./Fonts/FONT_APERCU/Apercu\ Regular.otf);
}

@font-face {
  font-family: apercuMedium;
  src: url(./Fonts/FONT_APERCU/Apercu\ Medium.otf);
}

@font-face {
  font-family: apercuLight;
  src: url(./Fonts/FONT_APERCU/Apercu\ Light.otf);
}

@font-face {
  font-family: saol;
  src: url(./Fonts/FONT_SAOL/SaolDisplay-Thin.otf);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Locomotive style */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Locomotive pulsating effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  /* background-color: var(--secondary-color); */ 
/* Sarthak did this */
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  padding-top: 1.5vw;
  font-family: apercuRegular;
}

.nav-logo > svg {
  height: 5vw;
}

.nav-right {
  display: flex;
  gap: 2.5vw;
  white-space: nowrap;
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  opacity: 0;
}

.nav-right h3 {
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.nav span {
  display: inline-block;
}

.nav-elem1,
.nav-elem2,
.nav-elem3,
.nav-elem4 {
  display: flex;
  flex-direction: column;
  height: 2.5vh;
  position: relative;
}

.nav-menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  padding: 0 4vw;
}

.anime-text {
  font-family: saol;
  color: #fff;
  rotate: 0deg;
  transform-origin: top top;
  scale: 1.5;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.anime-text > h1 {
  font-weight: 100;
  font-size: 8vw;
  line-height: 1;
  white-space: nowrap;
}

.nav-menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-menu-logo {
  opacity: 0;
  scale: 0.6;
}

.nav-menu-logo > svg {
  height: 5vw;
}

.menu-close {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  scale: 0.6;
}

.menu-close > i {
  font-size: 2vw;
}

.nav-menu-bottom {
  position: relative;
  font-family: apercuRegular;
  margin-top: 12vw;
}

.nav-menu-bottom a {
  text-decoration: none;
  color: #fff;
  font-size: 6vw;
  line-height: 1;
  opacity: 0;
  scale: 0.6;
}
.nav-menu-bottom-elem1 {
  display: flex;
  gap: 8vw;
}

.nav-menu-bottom-elem2 {
  display: flex;
  gap: 8vw;
  justify-content: end;
  margin-top: 5vw;
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  overflow: hidden;
}

.page2-rotation {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page2-rotation > svg {
  animation: rotation 20s linear infinite both;
  scale: 3;
  position: relative;
  left: -50%;
}

.page2-title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: saol;
}

.page2-title > h1 {
  font-size: 32vw;
  font-weight: 100;
  line-height: 0.6;
  /* -webkit-text-stroke: 1px #ebe4df; */
  /* mix-blend-mode: difference; */
  color: #000;
}

.page2-title > h1 > span {
  display: inline-block;
}

.page2-right {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}

.page2-right > h3 {
  font-family: apercuLight;
  color: #ffffff;
  font-size: 5vw;
  rotate: 90deg;
}

.page2-navigation {
  display: flex;
  gap: 0.5vw;
}

.page2-navigation-circle:nth-child(1) {
  /* background-color: #000; */
}

.page2-navigation-circle {
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background-color: #fff;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.page2-part1,
.page2-part2,
.page2-part3,
.page2-part4,
.page2-part5,
.page2-part6,
.page2-part7 {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part1-text,
.part2-text,
.part3-text,
.part4-text,
.part5-text,
.part6-text,
.part7-text {
  font-size: 14vw;
  font-family: saol;
  font-weight: 400;
  position: absolute;
  color: var(--secondary-color);
  left: 100%;
  top: 50%;
  z-index: 9;
}

.page2-part1-circle,
.page2-part2-circle,
.page2-part3-circle,
.page2-part4-circle,
.page2-part5-circle,
.page2-part6-circle,
.page2-part7-circle {
  height: 45vw;
  width: 45vw;
  border-radius: 50%;
  overflow: hidden;
}

.page2-part1-circle > img,
.page2-part2-circle > img,
.page2-part3-circle > img,
.page2-part4-circle > img,
.page2-part5-circle > img,
.page2-part6-circle > img,
.page2-part7-circle > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.parts-counter {
  display: inline-block;
}

.page3 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3 > h1 {
  font-family: saol;
}

.page4 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page4 > h1 {
  font-family: saol;
}

.page5 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: var(--secondary-color);
}

.page5-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page5-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page5-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page5-title-box > h1 > span {
  display: inline-block;
}

.page5-box {
  min-height: 130vh;
  margin-top: 6vw;
  width: 100%;
  padding: 0 4vw;
}

.page5-left-part1 {
  display: flex;
  gap: 2vw;
  position: relative;
}

.page5-left-part1 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part1-title {
  overflow: hidden;
  height: 6vw;
}

.page5-all-titles > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
  white-space: nowrap;
}

.page5-all-titles > h1 > span {
  font-family: saol;
  font-weight: 100;
}

.page5-all-titles > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 60%;
}

.page5-circle {
  position: sticky;
  top: 0;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.319);
  /* overflow: hidden; */
}

/* ###################### */
.page5-left-part2 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part2 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part2-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ###################### */
.page5-left-part3 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part3 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part3-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ###################### */
.page5-left-part4 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part4 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part4-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ################################## */

.page5-left-part5 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part5 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part5-title {
  overflow: hidden;
  height: 6vw;
}

/* ################################## */

.page5-left-part6 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part6 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part6-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ################################## */

.page5-left-part7 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part7 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part7-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ################################## */

.page5-left-part8 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part8 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  cursor: pointer;
  height: 1.5vw;
}

.page5-left-part8-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ################################## */

.page5-left-part9 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part9 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  cursor: pointer;
  height: 1.5vw;
}

.page5-left-part9-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

/* ################################## */

.page5-left-part10 {
  display: flex;
  gap: 2vw;
  position: relative;
  /* top: 100%; */
}

.page5-left-part10 > svg {
  flex-shrink: 0;
  margin-top: 1vw;
  height: 1.5vw;
  cursor: pointer;
}

.page5-left-part10-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 0 4vw;
  color: #fff;
}

.page6-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page6-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page6-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page6-title-box > h1 > span {
  display: inline-block;
}

.page6-box {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
  overflow: hidden;
  gap: 3vw;
}

.page6-left {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.strip1 {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.4vw;
}

.strip2 {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.4vw;
  top: -100%;
}

.brand-elem > svg {
  height: 2vw;
}

.page6-right {
  position: relative;
  height: 100%;
  width: 60%;
}

.page6-right > p {
  font-size: 3.1vw;
  font-family: apercuRegular;
}

.page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  color: #000;
  padding: 0 4vw;
  padding-bottom: 6vw;
}

.page7-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page7-title-box {
  text-align: center;
  width: 100%;
}

.page7-title-box > h1 {
  font-weight: 500;
  font-size: 14vw;
  line-height: 1;
}

.page7-title-box > h1 > span {
  display: inline-block;
}

.page7 > p {
  font-family: saol;
  font-size: 4vw;
}

.page7 > p:nth-child(2) {
  margin-top: 4vw;
}

.page8 {
  position: relative;
  height: 105vh;
  width: 100%;
  background-color: #000;
  text-align: center;
  color: white;
  padding: 0 4vw;
}

.page8-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page8-title-box {
  text-align: center;
  width: 100%;
}

.page8-title-box > h1 {
  font-weight: 500;
  font-size: 14vw;
  line-height: 1;
}

.page8-title-box > h1 > span {
  display: inline-block;
}

.page8-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 3vw;
  overflow: hidden;
}

.page8-elem {
  overflow: hidden;
}

.page8-elem > h1 {
  font-size: 2.6vw;
  font-family: apercuRegular;
  font-weight: 100;
  margin-top: 2vw;
}

.page8 a {
  text-decoration: none;
  color: #fff;
  font-family: apercuRegular;
  font-size: 3vw;
  display: inline-block;
}

.page8-mail > a:nth-child(2) {
  border-bottom: 2px solid #fff;
}

.page8-phone > a:nth-child(2) {
  border-bottom: 2px solid #fff;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: apercuRegular;
  margin-top: 8vw;
}

.footer-left {
  display: flex;
  gap: 2vw;
}

.footer-left a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 500;
  opacity: 0;
}

.footer-left h3 {
  color: #fff;
  font-size: 1.3vw;
  font-weight: 500;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

footer span {
  display: inline-block;
}

.footer-elem1,
.footer-elem2,
.footer-elem3 {
  display: flex;
  flex-direction: column;
  height: 2.5vh;
  position: relative;
}

.footer-logo {
  margin-left: 3vw;
}

.footer-logo > svg {
  height: 5vw;
}

.footer-right {
  display: flex;
  gap: 2vw;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 500;
  opacity: 0;
}

.footer-right h3 {
  color: #fff;
  font-size: 1.3vw;
  font-weight: 500;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.footer-elem4,
.footer-elem5,
.footer-elem6,
.footer-elem7 {
  display: flex;
  flex-direction: column;
  height: 2.5vh;
  position: relative;
}

.footer-copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: apercuLight;
  margin-top: 6vw;
}

.footer-copyright-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-copyright h3 {
  font-size: 0.8vw;
}
